<!DOCTYPE html>
<html>
<head>
  <title>Rubymon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
    body{
        padding-top: 60px;
    }
</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Rubymon', root_path, class: 'navbar-brand' %>
    </div>
    <% if user_signed_in? %>
      <li class="navbar-brand pull-right"><%= current_user.name %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "navbar-brand pull-right") %></li>
    <% end %>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
